{% extends 'queuer-base.html' %}
{% block queuer_section %}
<div class="container">
    <h1>{{barber_info.name}}'s queue</h1>
    <ul class="list-group">
        {% if queue.opened == True %}
            {% for entry in queue_object %}
            <li class="list-group-item">
                <span class="badge badge-primary h5">{{entry.position}}</span>
                Queue Number: {{entry.queue_number}}
                <a href="{% url 'kick_from_queue' queue.id entry.id %}" class="btn btn-danger">Kick from Queue</a>
            </li>
            {% empty %}
            <p>No one in queue!</p>
            {% endfor %}
        {% else %}
        <h1>The queue is closed!</h1>
        {% endif %}
    </ul>
    {% if queue.paused == True or queue.opened == False %}
        <a class="btn btn-primary btn-lg" href="{% url 'open_queue' queue.id %}" role="button">Open Queue</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'pause_queue' queue.id %}" role="button">Pause Queue</a>
        <a class="btn btn-primary btn-lg" href="{% url 'close_queue' queue.id %}" role="button">Close Queue</a>
    {% endif %}
</div>
{% endblock queuer_section %}
