{% extends 'queuer-base.html' %}
{% block queuer_section %}
<div class="container">
    <h1>{{barber_info.name}}'s queue</h1>
    <p>Estimated Wait Time: {{queue.waiting_time}} mins</p>
    <ul class="list-group">
        {% if queue.opened == True %}
            {% for entry in queue_object %}
                {% if entry.uuid == uuid %}
                <li class="list-group-item" style="background-color:red;">
                    <span class="badge badge-primary h5">{{entry.position}}</span>
                    Queue Number: {{entry.queue_number}} {{entry.wait_time}} mins
                </li>
                {% else %}
                <li class="list-group-item">
                    <span class="badge badge-primary h5">{{entry.position}}</span>
                    Queue Number: {{entry.queue_number}} {{entry.wait_time}} mins
                </li>
                {% endif %}
            {% empty %}
            <p>No one in queue!</p>
            {% endfor %}
        {% else %}
        <h1>The queue is closed!</h1>
        {% endif %}
    </ul>
    {% if uuid %}
    <a class="btn btn-primary btn-lg" href="{% url 'leave_queue' queue.id %}" role="button">Leave Queue</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'join_queue' queue.id %}" role="button">Join Queue</a>
    {% endif %}
</div>
{% endblock queuer_section %}