{% extends 'accounts-base.html' %}
{% block accounts_section %}
<div class="container">
  <div class="row">
    <div class="col">
      Username: {{username}}
    </div>
  </div>
  <div class="row">
    <p>Account Details</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        {{account_details.address_1}}
      </div>
      <div class="row">
        {{account_details.address_2}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        {{account_details.postal_code}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{account_details.email}}
    </div>
    <div class="col-md-6">
      {{account_details.phone}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="{% url 'account_details_update' %}">Update your account details</a>
    </div>
  </div>
</div>
{% endblock accounts_section %}
