{% extends 'website-base.html' %}
{% load static %}
{% block website_section %}
<div class="container">
   <div class="row fh">
        <div class="col my-auto text-center">
            <form action="" method="get">
                <div class="form-row mb-2">
                    <div class="col">
                        <h3>View a Queue</h3>
                    </div>
                </div>
                <div class="form-row px-5 mb-2">
                    <div class="col">
                        <p class="lead">Enter the barber's unique code below.</p>
                    </div>
                </div>
                <div class="form-row px-2 mx-1 mb-4">
                    <div class="col">
                        <input class="form-control form-control-lg" type="text" placeholder="Barber's Code" id="search">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button type="submit" class="btn btn-dark btn-lg w-50">
                            View
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock website_section %}